# TABLEAU PROJECT _ SEEK Job Listing in Australia's 30 Biggest Cities
## Nguyen Phuc An
#### Feb - Mar 2023

In [1]:
import pandas as pd

Read csv file

In [2]:
latlon_df = pd.read_csv('dataset/au.csv')
seek_df = pd.read_csv('dataset/seek_australia.csv')

Remove unnecessary columns and change column name

In [3]:
# Remove unnecessary columns for lat lon dataset
latlon_df.drop(columns=['country', 'iso2', 'capital', 'population', 'population_proper'], axis=1, inplace=True)

# Change column name
latlon_df.rename({'admin_name': 'state'}, axis=1, inplace=True)

# Remove unnecessary columns for seek dataset
seek_df.drop(columns=['geo', 'job_board', 'job_description', 'url', 'state'], axis=1, inplace=True)

# Split post_date with only date
seek_df['post_date'] = seek_df['post_date'].str.split('T', expand = True)[0]

# Split city 
seek_df['city'] = seek_df['city'].str.split('&', expand = True)[0]

# Rename ACT to Canberra
seek_df['city'] = seek_df['city'].replace(['ACT'], 'Canberra')

Choose the top 30 biggest cities in Australia 
https://metropole.com.au/australias-50-largest-cities/

In [4]:
cities = ['Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide', 'Gold Coast', 'Newcastle', 
          'Canberra', 'Central Coast', 'Wollongong', 'Geelong', 'Hobart', 'Townsville', 
          'Cairns', 'Toowoomba', 'Darwin', 'Ballarat', 'Bendigo', 'Albury', 
          'Launceston', 'Mackay', 'Rockhampton', 'Melton', 'Bunbury', 'Coffs Harbour',
          'Bundaberg', 'Wagga Wagga', 'Hervey Bay', 'Shepparton', 'Mildura']

# select top 30 cities
latlon_df = latlon_df[latlon_df['city'].isin(cities)]
seek_df = seek_df[seek_df['city'].isin(cities)]

Merge 2 dataframes into `final_df`

In [5]:
final_df = seek_df.merge(latlon_df.drop_duplicates(subset=['city']), how='left')
final_df.shape

(24794, 10)

In [6]:
final_df.head()

,category,city,company_name,job_title,job_type,post_date,salary_offered,lat,lng,state
0,Retail & Consumer Products,Sydney,Frontline Executive Retail Sydney,Store Manager - Fresh Produce,Full Time,2018-04-15,$100k Base + Super + Benefits,-33.8650,151.2094,New South Wales
1,Government & Defence,Brisbane,Powerlink,Client Solution Analyst,Full Time,2018-04-15,Excellent remuneration packages,-27.4678,153.0281,Queensland
2,Trades & Services,Sydney,Richard Jay Laundry,Service Technician / Installer - NSW,Full Time,2018-04-15,NaN,-33.8650,151.2094,New South Wales
3,Trades & Services,Melbourne,Adaptalift Hyster,Workshop Technician I Material Handling Equipment,Full Time,2018-04-16,NaN,-37.8136,144.9631,Victoria
4,Trades & Services,Adelaide,Bakers Delight G&M,APPRENTICESHIP JUNIOR BAKER,Full Time,2018-04-16,NaN,-34.9289,138.6011,South Australia

Write `final_df` to csv file

In [7]:
final_df.to_csv('seek.csv',index=False)